@model WebApplication1.Models.Productt

@{
    ViewData["Title"] = "Create";
}


<h2>Create</h2>

<form action="/hemo/create" method="post">
    <label for="Name">Name</label>
    <input type="text" name="Name" />
    <label for="Rate">Rate</label>
    <input type="text" name="Rate" />
    <label for="Rating">Rating</label>
    <input type="text" name="Rating" />
    <input type="submit" name="submit" />
</form>

@*<ul>
        @foreach (var std in ViewData["students"] as List<Student>)
        {
            <li>
                @std.StudentName
            </li>
        }
    </ul>*@

@{ 
    if (@Model.Name != null)
    {
        <h1>@Model.Name</h1>
    }else
    {
        <h1>Khong nhan duoc gi</h1>
    }
}
