@{
    ViewData["Title"] = "Thêm khách hàng";
}

<h2 class="display-4">Nhập thông tin</h2>
<form method="post" class="m-2 p-3 bg-light">
    <div class="form-group">
        <label for="customername">Tên khách hàng:</label>
        <input class="form-control" type="text" name="customername" value="" />
    </div>
    <div class="form-group">
        <label for="email">Địa chỉ email:</label>
        <input class="form-control" type="email" name="email" value="" />
    </div>
    <div class="form-group">
        <label for="yearofbirth">Năm sinh:</label>
        <input class="form-control" type="text" name="yearofbirth" value="" />
    </div>
    <div class="form-group">
        <input class="btn btn-danger" type="submit" value="Gửi dữ liệu" />
    </div>
</form>
