<html>
<head>
    <title>My Website</title>
</head>

<body>
    <div id="TopPane" style="border-bottom: 1px solid #ccc; height: 50px; padding-bottom: 30px">
        <a href="/New/Index">Trang 1</a>  |
        <a href="/New/Index2">Trang 2</a>
    </div>

    <div id="content">
        @RenderBody()
    </div>

    <div id="footerPane">
        <hr />
        Ket thuc trang
    </div>
</body>

</html>

