@model WebApplication1.Models.MyModel
@{
    ViewBag.Title = "About";
}

<h1>@Model.NAME</h1>
<h1>@Model.PHONE</h1>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h2>Create</h2>

<form action="" method="post">
    <label for="Name">Name</label>
    <input type="text" name="Name" />
    <label for="Rate">Rate</label>
    <input type="text" name="Rate" />
    <label for="Rating">Rating</label>
    <input type="text" name="Rating" />
    <input type="submit" name="submit" />
</form>



<p>Use this area to provide additional information.</p>
